name: "Dev Infrastructure Destroy"

on:
  workflow_dispatch:

jobs:
  destroy:
    name: "Terraform Destroy"
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./env/dev

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "ap-south-1"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      # Initialize using the existing backend.conf file
      - name: Terraform Init
        run: terraform init -backend-config=backend.conf

      # 1. Create a Destroy Plan file (Safety first)
      - name: Terraform Plan Destroy
        run: terraform plan -destroy -out=destroy.tfplan

      # 2. Execute the specific Plan file
      - name: Terraform Destroy
        run: terraform destroy -auto-approve destroy.tfplan
