name: "Dev Infrastructure Deploy"

on:
  workflow_dispatch: # Keep it manual for now so we control the "Green" launch
  push:
    paths:
      - "env/dev/**"
      - "modules/**"

jobs:
  deploy:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./env/dev

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "ap-south-1"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init -backend-config=backend.conf -input=false

      - name: Terraform Plan
        run: terraform plan -out=deploy.tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve deploy.tfplan
