name: Destroy Prod Environment

on:
    # Manual Trigger ONLY (The "Red Button")
    workflow_dispatch:

jobs:
    destroy:
        name: "Prod: Destroy Infrastructure"
        runs-on: ubuntu-latest

        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_REGION: "ap-south-1"

        defaults:
            run:
                working-directory: ./env/prod # <--- Target Prod Folder

        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2

            # 1. Initialize (We must connect to the state to know what to destroy)
            - name: Terraform Init
              run: terraform init -backend-config=backend.conf

            # 2. The Destructive Action
            - name: Terraform Destroy
              run: terraform destroy -auto-approve
