name: Destroy Prod Environment

on:
  push:

jobs:
  destroy:
    name: "Prod: Destroy Infrastructure"
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "ap-south-1"

    defaults:
      run:
        working-directory: ./env/prod

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false # Important: Prevents output formatting issues during destroy

      - name: Terraform Init
        run: terraform init -backend-config=backend.conf -reconfigure

      - name: Terraform State List
        run: terraform state list # Confirms what Terraform sees before it deletes

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
